In [ ]:
%matplotlib inline

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('network_df.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188512 entries, 0 to 188511
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   dao_id             188512 non-null  object
 1   member_address     188512 non-null  object
 2   slug               188512 non-null  object
 3   owned_asset_count  188512 non-null  object
dtypes: object(4)
memory usage: 5.8+ MB

,dao_id,member_address,slug,owned_asset_count
0,ec242c8a-4667-46c6-8c51-0df6f0970970,0x9533158bb9b0abb178a9dc7f6f0168e84126688f,movement-daos-ascended-ape-collection,1
1,f12e8672-59e5-425e-bfd9-42f4078a3ff1,0x097c39e5e576a8706404cd0d81e05b522f5bcaff,eth-merge-v3,1
2,f12e8672-59e5-425e-bfd9-42f4078a3ff1,0x097c39e5e576a8706404cd0d81e05b522f5bcaff,grand-leisure,1
3,f12e8672-59e5-425e-bfd9-42f4078a3ff1,0x097c39e5e576a8706404cd0d81e05b522f5bcaff,re-based-ghouls-by-xwave,1
4,f12e8672-59e5-425e-bfd9-42f4078a3ff1,0x097c39e5e576a8706404cd0d81e05b522f5bcaff,based-ghouls,6

# Data for network visualization
- Source
- Target
- weight

In [31]:
from itertools import permutations
from tqdm import tqdm
import networkx as nx
from pyvis.network import Network
import io, pickle

In [ ]:
dir_path = 'vis'

# DAO network

In [4]:
network_dao = {}
for grp, df_grp in tqdm(df.groupby('slug')):
    for p in permutations(sorted(df_grp.member_address.unique()), 2):
        if p not in network_dao:
            network_dao[p] = 0
        network_dao[p] += 1

100%|██████████| 28446/28446 [00:17<00:00, 1614.40it/s]

In [6]:
df_network_dao = pd.DataFrame([{'Source': source, 'Target': target, 'weight': weight} for (source, target), weight in network_dao.items()])
df_network_dao.to_csv(f'{dir_path}/vis_network_dao.csv', index = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984512 entries, 0 to 8984511
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Source  object
 1   Target  object
 2   weight  int64
dtypes: int64(1), object(2)
memory usage: 205.6+ MB

In [7]:
df_network_dao.info()
df_network_dao.head()

,Source,Target,weight
0,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0x2b384212edc04ae8bb41738d05ba20e33277bf33,2
1,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0x7e388444731c38189c0685f6d98605107ff59282,2
2,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0xb0623c91c65621df716ab8afe5f66656b21a9108,47
3,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0xec3281124d4c2fca8a88e3076c1e7749cfecb7f2,4
4,0x2b384212edc04ae8bb41738d05ba20e33277bf33,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,2

In [21]:
G_dao = nx.from_pandas_edgelist(
    df_network_dao, 
    source='Source', 
    target='Target',
    edge_attr='weight')

with io.open(f'{dir_path}/gragh_dao.nx', mode = 'wb') as f:
    pickle.dump(G_dao, f)

In [ ]:
net_dao = Network(notebook = True)
net_dao.from_nx(G_dao)
net.show(f'{dir_path}/pyvis_nx_dao.html')

# Voter network

In [8]:
network_voters = {}
for grp, df_grp in tqdm(df.groupby('slug')):
    for p in permutations(sorted(df_grp.member_address.unique()), 2):
        if p not in network_voters:
            network_voters[p] = 0
        network_voters[p] += 1

100%|██████████| 28446/28446 [00:19<00:00, 1474.55it/s]

In [ ]:
df_network_voter = pd.DataFrame([{'Source': source, 'Target': target, 'weight': weight} for (source, target), weight in network_voters.items()])
df_network_voter.to_csv(f'{dir_path}/vis_network_voter.csv', index = False)

In [11]:
df_network_voter.info()
df_network_voter.head()

,Source,Target,weight
0,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0x2b384212edc04ae8bb41738d05ba20e33277bf33,2
1,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0x7e388444731c38189c0685f6d98605107ff59282,2
2,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0xb0623c91c65621df716ab8afe5f66656b21a9108,47
3,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,0xec3281124d4c2fca8a88e3076c1e7749cfecb7f2,4
4,0x2b384212edc04ae8bb41738d05ba20e33277bf33,0x17cd072cbd45031efc21da538c783e0ed3b25dcc,2

In [22]:
G_voter = nx.from_pandas_edgelist(
    df_network_voter, 
    source='Source', 
    target='Target',
    edge_attr='weight')

with io.open(f'{dir_path}/gragh_voter.nx', mode = 'wb') as f:
    pickle.dump(G_voter, f)

In [ ]:
net_voter = Network(notebook = True)
net_voter.from_nx(G_voter)
net.show(f'{dir_path}/pyvis_nx_voter.html')